<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IT Today merupakan megaproker yang diselenggarakan oleh HIMALKOM IPB dan Departemen Ilmu Komputer IPB yang berisi kompetisi dan acara menarik lainnya.">
    <meta name="keywords" content="it today,ipb,ux today,hack today,game today">
    <title><%= title %></title>
    <link rel="icon" href="./images/browser/logo-ittoday2024.ico">
    <link rel="stylesheet" href="/css/admin/style.css">
    <link rel="stylesheet" href="/css/admin/main.css">
    <link rel="stylesheet" href="/css/admin/nav.css">
    
</head>
<body>
    <%- include ("loadPage") %>
    <%- include ("nav") %>
    
    <%- body %>

    <script src="/js/admin/main.js"></script>
</body>

</html>