<main>
    <h1>
        <b>Competition Detail</b>
    </h1>
    <section>
        <div class='card'>
            <h2><b>Detail</b></h2>
            <ul>
                <li>
                    <label for='competition-name'>Competition Name</label>
                    <input type='text' name='competition-name' id='competition-name'>
                </li>
                <li>
                    <label for='registration-date'>Registration Date</label>
                    <div id='registration-date'>
                        <input type='date' name='registration-date-start' id='registration-date-start'>
                        <span>until</span>
                        <input type='date' name='registration-date-end' id='registration-date-end'>
                    </div>
                </li>
                <li>
                    <label for='rulebook-link'>Rule Book Link</label>
                    <input type='text' name='rulebook-link' id='rulebook-link'>
                </li>
                <li>
                    <label for='twibon-link'>Twibon Link</label>
                    <input type='text' name='twibon-link' id='twibon-link'>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Participant</b></h2>
            <table>
                <tr>
                    <th><b>Team Name</b></th>
                    <th><b>Institution</b></th>
                    <th><b>Email</b></th>
                    <th><b>Telegram</b></th>
                    <th><b>Status</b></th>
                    <th><b>Action</b></th>
                </tr>
                <tr class='hover-brightness-95'>
                    <td class='key'>TLE: Aloevera</td>
                    <td class='value'>Nanyang Technological University</td>
                    <td class='value'>tlealovera@gmail.com</td>
                    <td class='value'>gtwformat</td>
                    <td class='value'>Accepted</td>
                    <td class='value'>

                    </td>
                </tr>
            </table>
        </div>
    </section>
</main>