<main>
    <h1>
        <b>Competition-Name</b>
    </h1>
    <section>
        <div class='card'>
            <h2><b>Person in Charge</b></h2>
            <ul>
                <li class='key-value hover-brightness-95'>
                    <h2>Name</h2>
                    <h2>Findo Siherman IV</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Email</h2>
                    <h2>hermanmajapahit@gmail.com</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>WhatsApp</h2>
                    <h2>-</h2>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Team Administration</b></h2>
            <ul>
                <li class='key-value hover-brightness-95'>
                    <h2>Team Name</h2>
                    <h2>Halokak</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Institution Level</h2>
                    <h2>kuliah</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Institution</h2>
                    <h2>ITB</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Team Email</h2>
                    <h2>bertimwoi@gmail.com</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Telegram</h2>
                    <h2>lupa</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Phone Number</h2>
                    <h2>911</h2>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Payment</b></h2>
            <ul>
                <li class='key-value hover-brightness-95'>
                    <h2>Account</h2>
                    <h2>yohoho</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Cost</h2>
                    <h2>69000</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Proof (nanti gambarny disini plis)</h2>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Leader</b></h2>
            <ul>
                <li class='key-value hover-brightness-95'>
                    <h2>Name</h2>
                    <h2>Si Sok Mimpin</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Province</h2>
                    <h2>Ohio</h2>
                </li>
                <div>
                    (gambar id card)
                </div>
                <div>
                    (gambar surat keterangan aktif)
                </div>
            </ul>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Member 1</b></h2>
            <ul>
                <li class='key-value hover-brightness-95'>
                    <h2>Name</h2>
                    <h2>Budak Autis</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Province</h2>
                    <h2>Ohio Gozaimasu</h2>
                </li>
                <div>
                    (gambar id card)
                </div>
                <div>
                    (gambar surat keterangan aktif)
                </div>
            </ul>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Member 1</b></h2>
            <ul>
                <li class='key-value hover-brightness-95'>
                    <h2>Name</h2>
                    <h2>Budak Autis</h2>
                </li>
                <li class='key-value hover-brightness-95'>
                    <h2>Province</h2>
                    <h2>Ohio Gozaimasu</h2>
                </li>
                <div>
                    (gambar id card)
                </div>
                <div>
                    (gambar surat keterangan aktif)
                </div>
            </ul>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Announce</b></h2>
            <textarea id='description' name='message' size='1' autocomplete='off'></textarea>
            <ul>
                <li class='key-value hover-brightness-95'>
                    <h2>Last Email Sent</h2>
                    <h2>2001-9-11 08:46:15</h2>
                </li>
            </ul>
            <div class='action-container'>
                <h2 class='action blue hover-brightness-95'>
                    Send
                </h2>
            </div>
        </div>
    </section>
</main>