<main>
    <h1>
        <b>Event</b>
    </h1>
    <section>
        <div class='card'>
            <h2><b>Competition</b></h2>
            <table>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Date</b></th>
                    <th><b>Status</b></th>
                    <th><b>Registration Link</b></th>
                    <th><b>Registrant</b></th>
                </tr>
                <tr>
                    <td class='key'>Introduction To Data Warehousing: Concept, Design, And Implementation Of Queries With SQL</td>
                    <td class='value'>2023-08-20 until 2023-08-20</td>
                    <td class='value'>0</td>
                    <td class='value'>https://forms.gle/ZLvEHPUdRCnTJt6i6</td>
                    <td class='value'>0</td>
                </tr>
            </table>
        </div>
    </section>
</main>