<main>
    <h1>
        <b>Dashboard</b>
    </h1>
    <section class='parameter'>
        <div class='card parameter'>
            <h2 class='key'>Total User</h2>
            <h3 class='value'>69</h3>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Competition</b></h2>
            <table>
                <tr>
                    <th><b>Category</b></th>
                    <th><b>Waiting Administration Verification</b></th>
                    <th><b>Rejected Payment Verification</b></th>
                    <th><b>Successful Team Verification</b></th>
                    <th><b>Accepted Administration Verification</b></th>
                    <th><b>Rejected Administration Verification</b></th>
                </tr>
                <tr class='hover-brightness-95'>
                    <td class='key'>Hack Today</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                </tr>
                <tr class='hover-brightness-95'>
                    <td class='key'>UX Today</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                </tr>
                <tr class='hover-brightness-95'>
                    <td class='key'>Game Today</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                </tr>
            </table>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Event</b></h2>
            <table>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Category</b></th>
                    <th><b>Registrant</b></th>
                    <th><b>Feedback</b></th>
                </tr>
                <tr>
                    <td class='key'>Introduction To Data Warehousing: Concept, Design, And Implementation Of Queries With SQL</td>
                    <td class='value'>Seminar Komunitas</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                </tr>
            </table>
        </div>
    </section>
</main>