<main>
    <h1>
        <b>Dashboard</b>
    </h1>
    <section class='parameter'>
        <div class='card parameter'>
            <h2 class='key'>Total User</h2>
            <h3 class='value'>69</h3>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Competition</b></h2>
            <table>
                <tr>
                    <th><b>Category</b></th>
                    <th><b>Waiting Administration Verification</b></th>
                    <th><b>Rejected Payment Verification</b></th>
                    <th><b>Successful Team Verification</b></th>
                    <th><b>Accepted Administration Verification</b></th>
                    <th><b>Rejected Administration Verification</b></th>
                </tr>
                <tr class='hover-brightness-95'>
                    <td class='key'><a href='#'>Hack Today</a></td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                </tr>
            </table>
            <div class='action-container'>
                <h2 class='action green hover-brightness-95'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    Add New
                </h2>
            </div>
        </div>
    </section>
    <section>
        <div class='card'>
            <h2><b>Event</b></h2>
            <table>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Category</b></th>
                    <th><b>Registrant</b></th>
                    <th><b>Feedback</b></th>
                </tr>
                <tr>
                    <td class='key'><a href='#'>Introduction To Data Warehousing: Concept, Design, And Implementation Of Queries With SQL</a></td>
                    <td class='value'>Seminar Komunitas</td>
                    <td class='value'>0</td>
                    <td class='value'>0</td>
                </tr>
            </table>
            <div class='action-container'>
                <h2 class='action green hover-brightness-95'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    Add New
                </h2>
            </div>
        </div>
    </section>
</main>