<main>
    <section id='dashboard-home'>
        <div class='container' style='flex-direction: row;'>
            <div class='card'>
                <h2>Announcement</h2>
                <div class='card-overlay'>
                    <section>
                        <p><b>Pembunuhan berantai</b></p>
                        <p>aku tidak tahu kapan itu terjadi</p>
                    </section>
                </div>
            </div>
            <div class='card'>
                <h2>Profile</h2>
                <div class='card-overlay'>
                    <section>
                        <h1>Vibroski Condomy</h1>
                        <p><b>vibrosukakondom@gmail.com</b></p>
                    </section>
                    <section>
                        <table>
                            <tbody>
                                <tr>
                                    <td><p><b>ID</p></td>
                                    <td><p>0913h90g31h901asf</p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Asal Provinsi</b></p></td>
                                    <td><p>Midwestern region of the United States</p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Alamat Lengkap</b></p></td>
                                    <td><p>Ohio</p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Tanggal Lahir</b></p></td>
                                    <td><p>69 Firgo 420</p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Nomor HP</b></p></td>
                                    <td><p>0842069420</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <table>
                            <tbody>
                                <tr>
                                    <td><p><b>Status</b></p></td>
                                    <td><p>Buronan</p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Institusi</b></p></td>
                                    <td><p>MC Donald Toilet</p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Nomor Institusi</b></p></td>
                                    <td><p>69</p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Kartu Institusi</b></p></td>
                                    <td><p>link kontol</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>